{% extends 'base.html'%}
{% load static %}
{% block contenidoLat %}
    {% include 'adminLat.html' %}
{% endblock %}
{% block areaTrabajo %}
    <div class="col-md-12">
        <div class="card card-default" style="width: 70%">
            <div class="card-header">
                <h3 class="card-title col-sm-11">
                    <strong class="text-center">
                        Reporte de uso servicio comedor
                    </strong>
                </h3>
            </div>
            <div class="card-body" >
                <table id="data2" class="table">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 10%">Cod. Usuario</th>
                        <th scope="col"  style="width: 40%">Resgistro</th>
                        <th scope="col"  style="width: 30%">Fecha</th>
                        <th scope="col"  style="width: 10%">Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for usu in prod_list %}
                            <tr>
                                <th >{{ cocinero.id}}</th>
                                <th >Registro Produccion USC</th>
                                <th >{{ usu.fecha_actualiza }}</th>
                                <th>
                                    <button id="btn_modal" type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#MyModalRep">
                                        Ver
                                    </button>
                                </th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<!-- Modal -->
    <div class="modal fade" id="MyModalRep" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Reporte Uso de Productos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex">
                        <strong>ID: &nbsp;</strong>
                        <p>{{cocinero.id}}</p>
                    </div>
                    <div class="d-flex">
                        <strong>Encargado: &nbsp;</strong>
                        <p> {{cocinero.first_name}} {{ cocinero.last_name }}</p>
                    </div>
                    <div class="d-flex">
                        <strong>Jornada: &nbsp;</strong>
                        <p> Almuerzo</p>
                    </div>
                    <div class="d-flex">
                        <strong>Fecha: &nbsp;</strong>
                        <p> {{object_list}}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


