{% extends 'base.html' %}
{% load static %}
{% block contenidoLat %}
    {% include 'adminLat.html' %}
{% endblock %}
{% block areaTrabajo %}
    <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fa-solid fa-list-check"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Asistencias a comedor</span>
                    <span class="info-box-number">89<small>%</small></span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-warning elevation-1"><i class="fa-solid fa-user-clock"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Retardos</span>
                    <span class="info-box-number">13</span>
                </div>
            </div>
        </div>
    <div class="clearfix hidden-md-up"></div>
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-success elevation-1"><i class="fa-solid fa-drumstick-bite"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Uso de productos</span>
                    <span class="info-box-number">En el rango</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-danger elevation-1"><i class="fa-solid fa-trash-can"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Desperdicios</span>
                    <span class="info-box-number">23 kg.</span>
                </div>
            </div>
        </div>
</div>

    <!--  GRAFICOS - CHARTS-->
<section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 mb-3">
            <div class="card h-100">
              <div class="card-header bg-info">
                <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                Area Chart Example
              </div>
              <div class="card-body">
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-lg-12">
                              <div id="contGraph">

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="card h-100">
              <div class="card-header bg-success">
                <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                Area Chart Example
              </div>
              <div class="card-body">
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-lg-12">
                              <div id="container">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
{#     SECCION DE GRAFICOS#}

    {% endblock %}