<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- iconografia agregada-->
            <li class="nav-header">Principal</li>
          <li class="nav-item mt-1">
            <a href="../widgets.html" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Vista rapida
{#                <span class="right badge badge-danger">New</span>#}
              </p>
            </a>
          </li>
            <li class="nav-header border-top mt-2">Gestion Usuarios</li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fa-solid fa-user-gear"></i>
              <p>
                Equipo de Trabajo
                <i class="fas fa-angle-left right"></i>
{#                <span class="badge badge-info right"></span>#}
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="../layout/top-nav.html" class="nav-link">
                  <i class="fa-solid fa-user"></i>
                  <p>Profesores</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="../layout/top-nav-sidebar.html" class="nav-link">
                  <i class="fa-solid fa-user"></i>
                  <p>Cocineros</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fa-solid fa-graduation-cap"></i>
              <p>
                Estudiantes
              </p>
            </a>
          </li>
            <li class="nav-header border-top mt-2">Gestion de datos</li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fa-solid fa-chart-column"></i>
              <p>
                Estadisticas
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="../UI/general.html" class="nav-link">
                  <i class="fa-solid fa-dumpster"></i>
                  <p>Desperdicios</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="../UI/icons.html" class="nav-link">
                  <i class="fa-solid fa-utensils"></i>
                  <p>Produccion</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="../calendar.html" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>
                Cronograma
{#                <span class="badge badge-info right">2</span>#}
              </p>
            </a>
          </li>
          <li class="nav-header border-top mt-5">Centro de ayuda</li>
          <li class="nav-item">
            <a href="https://adminlte.io/docs/3.1/" class="nav-link">
              <i class="fa-solid fa-headset"></i>
              <p>Soporte y servicio</p>
            </a>
          </li>
        </ul>
</body>
</html>